{* Copyright (c) 2016 Jan Kotrba https://jkotrba.net/ *}
{block pageHeader}Dashboard{/block}
{block content}
<div class="row">
	<div class="col-lg-9">
		<p>Toto je hlavní stránka administrace JAVO Baguettes.</p>
	</div>
</div>
{/block}